<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Roshan Timing</title>
    <link rel="icon" type="image/ico" href="/static/Roshan.ico">
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>

<!-- Start -->
<div class="hero">
    

    <!-- BACKGROUND VIDEO -->  
    <video autoplay loop playsinline muted class="back-video">
        <source src="/static/videotest1.mov" type="video/mp4">
    </video>



    <!-- TIMER -->
    <div class="slow-show">
    
    <p id="random-timer" class="timer noselect"></p>
    <a><img src="/static/top.png" class="timer-image"/></a> 
    <center><p id="imaaaga" ></p></center>     
    
    </div>
    
    

        <!-- CHAT(INPUT) -->
    <div class = "slow-show" style="margin-top: 330px; margin-left: 17px;">
        <div class="chat-text noselect">(Allies):</div>
        <div class="chat-text-end noselect">▲  ▼</div>
        <div class="chat-text-image noselect"><img src="/static/dotachat.png" width="23" height="21" ></div>
        <div class="chat-text-square noselect"></div>
        <div class="chat-text-ques noselect">?</div>
        <div><center><input type="text" id="searchTxt" class="chat-input" name="username" placeholder="Type a message here. Example: Time - 2141. Answer: 2641 2941-3241. GL 😉" autocomplete="off" required></center></div><!-- input chat -->

    </div>



        <!-- created by dankYbat -->
        <div class = "slow-show">
            <div class="text_wrap">
                <p class="noselect">created by dankYoff</p>
            </div>
            <div class="img-profile">
                <!-- <a href="https://github.com/dankYoff" target="_blank"><img class="move-image" src="/static/github.svg" width="50"></a> -->
                <a class="img-profile" id="img-profile"><img class="move-image" src="/static/github.svg" width="50"/></a>
            </div>
        </div>


        
        <!-- CHAT(BUTTON + OUTPUT) -->
        <button id="myBtn" class="search" onclick="TimerCheck()"  style="visibility: hidden;">Do</button><!-- button -->
        <center><p id="end1" class="noselect"></p></center><!-- output correct-->
        <!-- <center><p id="end2" class="noselect"></p></center>output incorrect -->
        
</div>

    

        <!-- JS -->
        <script>


        // RANDOM TIME
        function randomNumber(min, max) { 
            return Math.floor(Math.random() * (max - min) + min);} 
        var a = randomNumber(10, 51); 
        var b = randomNumber(0, 60);
            if (b <= 9) {
                b = '0' + b;}
        var response = a + ':' + b;
        document.getElementById('random-timer').innerHTML = response;

        // AEGIS TIMER
        var aegis_a = a + 5 + '' + b;
        var int_min_rosh = a + 8 + '' + b;
        var int_max_rosh = a + 11 + '' + b;
        var d = aegis_a + ' ' + int_min_rosh + '-' + int_max_rosh

        //Check
        function TimerCheck(){
            var timer = "";
            var result = document.getElementById("searchTxt").value;
            if (d == result){
                timer="Nice 😊";
                document.getElementById('end1').innerHTML = '<span style="color:green;">' + timer + '</span>';
                window.setTimeout(function(){location.reload()},1000) //refresh page
                
            }
            else {
                timer="Incorrect ❌:  " + d;
                document.getElementById('end1').innerHTML = '<span style="color:red;" class = "slow-show">' + timer + '</span>';
                
            }
            
            
        }

        //Enter
        var input = document.getElementById("searchTxt");
        input.addEventListener("keypress", function(event) {
        if (event.key === "Enter") {
            event.preventDefault();
            document.getElementById("myBtn").click();
        }
        });

        //Image
        function getImage() {
        const random = Math.floor(a / 5); 
            if (random % 2 == 0){
                return '<img src="static/0.png" border="0" />';
            }
            else{
                return '<img src="static/1.png" border="0" />';
            }
            
        }
        document.getElementById("imaaaga").innerHTML = getImage();

        // Dont show link github
        const imgProfile = document.querySelector('#img-profile');
        const openUrl = (url) => {
        window.open(url, '_blank');
        };
        imgProfile.addEventListener('click', () => {
        openUrl('https://github.com/dankYoff');
        });





        </script>
</body>
</html>
